$color-primary: #2563EB;
$color-primary-hover: #092369;

$color-success: #10B981;
$color-success-light: #34D399;

$color-title: #0F172A;
$color-text: #334155;
$color-text-light: #64748B;

$color-bg: #FFFFFF;
$color-bg-hero: #F8FAFC;
$color-bg-testimonios: #ecf4f8;
$color-bg-crear-cuenta: #DBEAFE;
$color-bg-footer: #08182E;

$color-card-border: #E2E8F0;
$color-border-column-footer: #ffffff26;

$shadow-card: 0 4px 12px #0f172a14;
$shadow-card-hover: 0 8px 24px #c9f5e7;
// $shadow-card-hover: 0 8px 24px #020d2526;

$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$breakpoint-sm: 568px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;